<footer class="footer">
  <div class="foot-row">
    <div class="foot-brand">
      <strong>UCD School of Computer Science</strong>
      <div>Belfield, Dublin 4, Ireland</div>
    </div>
    <div class="foot-cols">
      <div>
        <div class="foot-h">Showcase</div>
        <a href="{{ '/all-projects/' | url }}">All Projects</a>
        <a href="{{ '/2026/' | url }}">2026 Cohort</a>
        <a href="{{ '/2025/' | url }}">2025 Cohort</a>
      </div>
      <div>
        <div class="foot-h">School</div>
        <a href="https://www.ucd.ie/cs/">About CS@UCD</a>
        <a href="https://www.ucd.ie/cs/study/">Programmes</a>
        <a href="https://www.ucd.ie/cs/research/">Research</a>
      </div>
      <div>
        <div class="foot-h">Contact</div>
        <a href="mailto:cs@ucd.ie">cs@ucd.ie</a>
      </div>
    </div>
  </div>
  <div class="foot-fine">© 2026 University College Dublin · School of Computer Science</div>
</footer>
