<nav class="nav">
  <a class="nav-brand" href="{{ '/' | url }}">
    <img src="{{ '/img/ucd-logo.png' | url }}" alt="UCD Logo" style="height:32px;display:block;">
    <span class="nav-title">
      <span class="nav-school">UCD School of Computer Science</span>
      <span class="nav-product">Final Year Projects</span>
    </span>
  </a>
  <div class="nav-links">
    <a href="{{ '/' | url }}">Home</a>
    <div class="nav-dropdown">
      <button class="nav-dropbtn">Years ▾</button>
      <div class="nav-dropdown-content">
        <a href="{{ '/2026/' | url }}">2026</a>
        <a href="{{ '/2025/' | url }}">2025</a>
      </div>
    </div>
    <a href="{{ '/all-projects/' | url }}">All Projects</a>
  </div>
</nav>
